<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Topic</display-name>
  <jsp-config>
    <jsp-property-group>
      <description>html encoding</description>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.html</url-pattern>
      <el-ignored>true</el-ignored>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <include-prelude></include-prelude>
      <include-coda></include-coda>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>viewServletTopic</servlet-name>
    <servlet-class>com.qhit.servlet.topic.viewServletTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewServletTopic</servlet-name>
    <url-pattern>/util/viewServletTopic</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>nameServletTopic</servlet-name>
    <servlet-class>com.qhit.servlet.topic.nameServletTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nameServletTopic</servlet-name>
    <url-pattern>/util/nameServletTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listServletTopic</servlet-name>
    <servlet-class>com.qhit.servlet.topic.listServletTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listServletTopic</servlet-name>
    <url-pattern>/util/listServletTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServletTopic</servlet-name>
    <servlet-class>com.qhit.servlet.topic.AddServletTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletTopic</servlet-name>
    <url-pattern>/util/AddServletTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServletTopic</servlet-name>
    <servlet-class>com.qhit.servlet.topic.UpdateServletTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServletTopic</servlet-name>
    <url-pattern>/util/UpdateServletTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelServletTopic</servlet-name>
    <servlet-class>com.qhit.servlet.topic.DelServletTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServletTopic</servlet-name>
    <url-pattern>/util/DelServletTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>readServletComments</servlet-name>
    <servlet-class>com.qhit.servlet.comments.readServletComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readServletComments</servlet-name>
    <url-pattern>/util/readServletComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServletComments</servlet-name>
    <servlet-class>com.qhit.servlet.comments.AddServletComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletComments</servlet-name>
    <url-pattern>/util/AddServletComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelServletComments</servlet-name>
    <servlet-class>com.qhit.servlet.comments.DelServletComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServletComments</servlet-name>
    <url-pattern>/util/DelServletComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listServletNews</servlet-name>
    <servlet-class>com.qhit.servlet.news.listServletNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listServletNews</servlet-name>
    <url-pattern>/util/listServletNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>preAddServletNews</servlet-name>
    <servlet-class>com.qhit.servlet.news.preAddServletNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preAddServletNews</servlet-name>
    <url-pattern>/util/preAddServletNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddServletNews</servlet-name>
    <servlet-class>com.qhit.servlet.news.AddServletNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletNews</servlet-name>
    <url-pattern>/util/AddServletNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>preUpdateServletNews</servlet-name>
    <servlet-class>com.qhit.servlet.news.preUpdateServletNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preUpdateServletNews</servlet-name>
    <url-pattern>/util/preUpdateServletNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServletNews</servlet-name>
    <servlet-class>com.qhit.servlet.news.UpdateServletNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServletNews</servlet-name>
    <url-pattern>/util/UpdateServletNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelServletNews</servlet-name>
    <servlet-class>com.qhit.servlet.news.DelServletNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelServletNews</servlet-name>
    <url-pattern>/util/DelServletNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.qhit.servlet.user.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/util/loginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index1.jsp</welcome-file>
  </welcome-file-list>
</web-app>